<% @recipes.each_slice(3) do |three_recipes| %>
<div class="row">
<% three_recipes.each do |recipe| %>
   <div class="entry col-xl-4">
     <h2><%= link_to truncate(recipe.title, length:50), recipe_path(recipe) %></h2>
     <iframe src="https://www.youtube.com/embed/<%= recipe.youtube_id %>" frameborder="0" allowfullscreen></iframe>
     <p><%= truncate(recipe.description, length: 200) %></p>
   </div>
<% end %>
</div>
<% end %>
